body{
	background-color: #B3B1BF;
}

.jumbotron{
	background: url('../images/stormyseas.jpg');
	min-height: 700px;
	background-size: cover;
}
.jumbotron-special{
	background: url('../images/Refugeekids.png');
	color:black;
	min-height: 700px;
	background-size: cover;
}

.bigger { font-size:200%; }

.custom-panel{
	margin-top: 60px;
}
.panel-primary {
    border-color: #e3e3e3;
}
.panel-primary>.panel-heading{
	background-color:#78C2AD;
	border-color:#e3e3e3; 
}

.panel-body {
    background-color: #f5f5f5;
}

.banner-text h1{
	font-family: "Source Sans Pro";
	color: white;
	font-size: 58px;
	letter-spacing: 10px;
	font-weight: bold;
}

.banner-text p{
	color: white;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 3px;
	text-transform: uppercase;
}
/* Footer */
.footer{
	background-color: gainsboro;
	border-top-style: solid; 
	border-top-width: 5px; 
	border-top-color: #647584;
	color: darkslategray; 
	min-height: 25px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px; 
	text-align: left; 
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 15px; 
	}